.skills-body {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-row-gap: 10px;
    justify-content: center;
  }
  .content-article-body {
    font-size: 24px;
  }

  .content-article {
    margin: 20px 0;
  }